<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kingsword.course.dao.ClassesMapper">
  <resultMap id="BaseResultMap" type="xyz.kingsword.course.pojo.Classes">
    <result column="classname" jdbcType="CHAR" property="classname"/>
    <result column="student_num" jdbcType="INTEGER" property="studentNum"/>
    <result column="admission_time" jdbcType="INTEGER" property="admissionTime"/>
  </resultMap>
  <insert id="insert" parameterType="xyz.kingsword.course.pojo.Classes">
    insert into classes (classname, student_num)
    values (#{classname,jdbcType=CHAR}, #{studentNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertList">
    insert into classes(classname, student_num, admission_time) values
    <foreach collection="list" separator="," item="item">
      (#{item.classname},#{item.studentNum},#{item.admissionTime})
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.kingsword.course.pojo.Classes">
    update classes
    set admission_time=#{addmissionTime},
        student_num   = #{studentNum,jdbcType=INTEGER}
    where classname = #{classname,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from classes
    where classname = #{classname}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from classes
    order by classname
  </select>
  <select id="findByName" resultMap="BaseResultMap">
    select *
    from classes
    where classname in (
    <foreach collection="list" separator="," item="item">
      #{item}
    </foreach>
    )
  </select>
  <select id="selectSchoolClass" resultType="java.lang.String">
    select classname
    from classes
    where admission_time &lt;= #{admissionTime,jdbcType=INTEGER}
  </select>
</mapper>