<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kingsword.course.dao.ResearchroomMapper">
    <resultMap id="BaseResultMap" type="xyz.kingsword.course.pojo.Researchroom">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="teacher_in_charge" jdbcType="CHAR" property="teacherInCharge"/>
        <collection column="id" property="teachers" ofType="xyz.kingsword.course.pojo.Teacher"
                    select="selectTeacherByResearchroom">
        </collection>
    </resultMap>
    <resultMap id="Researchroom"  type="xyz.kingsword.course.pojo.Researchroom">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="teacher_in_charge" jdbcType="CHAR" property="teacherInCharge"/>
    </resultMap>
    <insert id="insert" parameterType="xyz.kingsword.course.pojo.Researchroom">
    insert into researchroom (name, teacher_in_charge
      )
    values (#{name,jdbcType=CHAR}, #{teacherInCharge,jdbcType=CHAR}
      )
  </insert>


    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, teacher_in_charge
    from researchroom
  </select>


    <select id="selectTeacherByResearchroom" resultMap="xyz.kingsword.course.dao.TeacherMapper.BaseResultMap">
     select id, name, reasearch_id, phone, email, department_school, role, teaching_title,education,
    course_in_charge,specialty_in_charge
    from teacher
    where reasearch_id=#{id}
  </select>

    <delete id="deleteById">
    delete from researchroom
    where id=#{id,jdbcType=VARCHAR}
  </delete>

    <update id="updateById" parameterType="xyz.kingsword.course.pojo.Researchroom">
    update researchroom
    set teacher_in_charge=#{teacherInCharge} ,
    name=#{name,jdbcType=VARCHAR}
    where id=#{id,jdbcType=INTEGER}
  </update>

    <select id="findByName" resultMap="BaseResultMap">
    select * from researchroom
    where  name like concat('%',#{name}  ,'%')
  </select>
    <select id="findResearchroomById" resultMap="BaseResultMap">
      select * from researchroom
      where  id=#{id,jdbcType=INTEGER}
    </select>
    <update id="removeTeacher">
        update teacher
        set reasearch_id=null
        where id=#{teaId,jdbcType=VARCHAR}
    </update>
    <update id="addTeacher">
        update teacher
        set reasearch_id=#{researchroomId,jdbcType=VARCHAR}
        where id in
        <foreach collection="teaIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <select id="getAllResearchroom" resultMap="Researchroom">
        select * from researchroom
    </select>
</mapper>